@import url("fonts.css");
div#top-login-overlay-container {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  div#top-login-overlay-container .left-float {
    float: left; }
  div#top-login-overlay-container .right-float {
    float: right; }
  div#top-login-overlay-container #top-login-overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #64028e; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-menu-button {
      width: 50px;
      height: 50px;
      background: #8002ab url("../Images/overlay-menu-lines.png"); }
    div#top-login-overlay-container #top-login-overlay-content #overlay-menu-button:hover {
      width: 50px;
      height: 50px;
      background-color: #9b02c3;
      cursor: pointer;
      box-shadow: 0 0 50px -8px #ffffff; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-login-textbox-container {
      height: 50px;
      position: relative;
      margin: 0 5px 0 5px; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-login-textbox-container:hover #overlay-login-textbox {
      box-shadow: inset 0 0 6px #000000, 0 0 50px #ffffff; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-login-textbox {
      width: 170px;
      position: relative;
      top: 10px;
      border: none;
      border-radius: 5px;
      height: 30px;
      background-color: #ffffff;
      box-shadow: inset 0 0 6px #000000;
      outline: none;
      text-align: center;
      padding: 0 7px 0 7px; }
      div#top-login-overlay-container #top-login-overlay-content #overlay-login-textbox[placeholder] {
        font-family: "OpenSansRegular", sans-serif;
        font-weight: bold; }
      div#top-login-overlay-container #top-login-overlay-content #overlay-login-textbox[value] {
        font-family: "OpenSansRegular", sans-serif;
        font-weight: bold; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-password-textbox {
      width: 170px;
      position: relative;
      top: 10px;
      border: none;
      border-radius: 5px;
      height: 30px;
      background-color: #ffffff;
      box-shadow: inset 0 0 6px #000000;
      outline: none;
      text-align: center;
      padding: 0 7px 0 7px;
      font-family: "OpenSansRegular", sans-serif;
      font-weight: bold; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-login-textbox:active {
      box-shadow: inset 0 0 6px #000000, 0 0 5px 2px #ffffff; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-login-textbox:focus {
      box-shadow: inset 0 0 6px #000000, 0 0 5px 2px #ffffff; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-password-textbox-container {
      height: 50px; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-password-textbox-container:hover #overlay-password-textbox {
      box-shadow: inset 0 0 6px #000000, 0 0 50px #ffffff; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-password-textbox {
      width: 170px;
      position: relative;
      top: 10px;
      border: none;
      border-radius: 5px;
      height: 30px;
      background-color: #ffffff;
      box-shadow: inset 0 0 6px #000000;
      outline: none;
      text-align: center;
      padding: 0 7px 0 7px;
      font-family: "OpenSansRegular", sans-serif;
      font-weight: bold; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-password-textbox:active {
      box-shadow: inset 0 0 6px #000000, 0 0 5px 2px #ffffff; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-password-textbox:focus {
      box-shadow: inset 0 0 6px #000000, 0 0 5px 2px #ffffff; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-login-link {
      margin: 0 10px 0 10px;
      position: relative;
      height: 50px;
      text-align: center;
      background-color: #8002ab; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-login-link:hover {
      background-color: #9b02c3;
      height: 50px;
      box-shadow: 0 0 50px -8px #ffffff;
      cursor: pointer; }
      div#top-login-overlay-container #top-login-overlay-content #overlay-login-link:hover #overlay-login-link-text {
        text-shadow: 0 0 1px #ffffff;
        cursor: pointer; }
    div#top-login-overlay-container #top-login-overlay-content #overlay-login-link-text {
      position: relative;
      text-transform: uppercase;
      top: 11.4px;
      font-family: OpenSansExtraBold, sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #f9ffa9;
      letter-spacing: 0;
      margin: 0 5px 0 5px; }

/*# sourceMappingURL=login-overlay.css.map */
